@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 89% 96%; /* #E0F2FE (Sky 100) */
    --foreground: 201 94% 12%;
    --card: 0 0% 100%;
    --card-foreground: 201 94% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 201 94% 12%;
    --primary: 201 94% 30%; /* #075985 (Sky 800) */
    --primary-foreground: 0 0% 98%;
    --secondary: 11 70% 58%; /* #DC634A */
    --secondary-foreground: 0 0% 98%;
    --muted: 199 89% 90%;
    --muted-foreground: 201 94% 40%;
    --accent: 31 92% 55%; /* #F59E0B (Orange) */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 199 89% 88%;
    --input: 199 89% 88%;
    --ring: 201 94% 30%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
